body{
  font-family: 'Roboto', sans-serif;
}

header{
  margin: 0 auto;
  position: relative;
}

.web-studio-black{
  color: var(--full-balck);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.02em;
}

.web-studio-white{
  width: 145px;
  height: 31px;
  color: var(--full-white);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.02em;  
}

.web{
  color: var(--text-blue);
}

.nav-menu{
  display: flex;
  margin-left: 93px;  
}

.nav-menu :not(:last-child){
  margin-right: 50px;
}

.nav-contact :not(:last-child){
  margin-right: 30px;
}

.nav-menu > li > a{
  position: relative;
  display: block;
  color: var(--title-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 28px;

  transition-property: color cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu > li > a:hover,
.nav-menu > li > a:focus{
  color: var(--text-blue);
}

.nav-menu > li > a::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--text-blue);
  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu > li > a:hover::after,
.nav-menu > li > a:focus::after{
  opacity: 1;
}

.nav-menu > li > .current::after{
  opacity: 1;
}

.nav-contact-header{
  display: flex;  
  margin: 0 auto;   
}

.nav-contact-header > li > a{  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.nav-contact > li > a{
  color: var(--subtitle-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em; 
  
  transition-property: color cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact > li > a:hover,
.nav-contact > li > a:focus{
  color: var(--text-blue);
}

.nav-contact-li{
  display: block;   
}

.nav-contact.nav-contact-li > li{
  margin-right: 0px;
}

.nav-contact-li :not(:last-child){
  margin-bottom: 9px;
}

.nav-contact-icon{
  fill: currentColor;
  margin-right: 10px;
}

.footer-block{
  background-color: var(--bg-main-color);
  padding-top: 60px;
  padding-bottom: 60px;  
}

.footer-flexbox{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#contacts{
  margin-top: 30px;
}

.footer-social-links-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--full-white);
  margin-bottom: 20px;
}

.footer-social-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-links > li:not(:last-child){
  margin-right: 10px;
}

.footer-social-links-container{
  margin-left: 70px;
}

.footer-social-links-item{
  background-color: var(--footer-social-links-bg);
  color: var(--full-white);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-item:hover,
.footer-social-links-item:focus{
  background-color: var(--text-blue);
  cursor: pointer;
}

.footer-social-link-icon{
  fill: currentColor;
}

.street{
  color: var(--full-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;  
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.nav-menu > li > .current{
  color: var(--text-blue);
}

.container{
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;  
}

.position-container{
  display: flex;
}

.header-nav{
  display: flex;
  align-items: center;  
}

.div-contact{
  display: flex;
  align-items: center;
  margin-left: 305px;    
}

.subscribe-container{
  margin-left: 93px;
}

.subscribe-input-elements{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-email{
  color: var(--footer-subscribe-email-border);
  height: 50px;
  width: 358px;
  background-color: var(--bg-main-color);
  border: 1px solid var(--footer-subscribe-email-border);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
}

.subscribe-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--full-white);
  background-color: var(--text-blue);  
  border-radius: 4px;
  border: none;  
}

.subscribe-button-icon{
  fill: var(--full-white);
  margin-left: 10px;
}