@mixin transition($type){
  transition-property: $type;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-type;
}

@mixin translate($x, $y, $scale) {
  transform: translateX($x) tranlsateY($y) scale($scale);
}